<div id="inner-contents">

    <h1>Your location </h1>
    <div id="current">Initializing...</div>
    <div id="map_canvas" style="width:500px; height:400px"></div>

    <br><br>
    <a href="/" class="btn btn-primary">Find parking near me!</a>
    <a href="/" class="btn btn-primary">Search for a location</a>

  <br>
  <br>
</div>
